* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
    width: 1440px !important;
    margin: auto !important;
}

button {
    width: 197px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: semi-bold;
    color: #ffffff;
}

header {
    width: 1440px;
    height: 102px;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

header nav {
    width: 1160px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

header span {
    font-size: 32px;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

header a {
    text-decoration: none !important;
    font-size: 20px;
    font-weight: medium;
}

header .item1 {
    color: orange;
    font-weight: bold;
}

header .item2 {
    color: #01ACFD !important;
}

header .item3 {
    color: #05D4DF;
}

header .item4 {
    color: #5D58EF;
}

header button {
    background-color: orange;
}

header .show {
    display: none;
}

/* hero section starts here */

.hero {
    width: 1158px;
    height: 575px;
    margin: auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.hero h1 {
    font-size: 56px;
    font-weight: bold;
}

.hero .empowering {
    color: orange;
}

.hero .vision {
    color: #01ACFD;
}

.hero p {
    margin-top: 24px;
    font-size: 20px;
    font-weight: regular;
}

.hero button {
    margin-top: 24px;
    background: black;
}

.hero .hero-image {
    width: 468.61px !important;
}

@media (max-width: 768px) {
    .hide {
        display: none !important;
    }

    header .show {
        display: block;
    }

    body {
        width: 100vw !important;
    }

    header {
        width: 358px;
        height: 46px;
        margin: auto;
        padding: 12px 16px !important;
    }

    header .logo {
        width: 46px;
        height: 46px;
        transform: scale(0.8) !important;
    }

    /* hero section starts here */

    .hero {
        width: 357px;
        height: 725px;
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px 0px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        margin-top: 18px;
        font-size: 14px;
    }

    .hero button {
        width: 131px;
        margin-top: 18px;
    }

    .hero .hero-image {
        margin-bottom: -50px !important;
        width: 336px !important;
        height: 413px !important;
    }

    .hero img {
        width: 336px !important;
        height: 413px !important;
    }

}