* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    font-family: "Quicksand", serif;
    width: 1440px !important;
    margin: auto !important;
}

button {
    width: 197px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: semi-bold;
    color: #ffffff;
}

header {
    width: 1440px;
    height: 102px;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

header nav {
    width: 1160px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

header span {
    font-size: 32px;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

header a {
    text-decoration: none !important;
    font-size: 20px;
    font-weight: medium;
}

header .item1 {
    color: orange;
    font-weight: bold;
}

header .item2 {
    color: #01ACFD !important;
}

header .item3 {
    color: #05D4DF;
}

header .item4 {
    color: #5D58EF;
}

header button {
    background-color: orange;
}

header .show {
    display: none;
}

/* hero section starts here */

.hero {
    width: 1158px;
    height: 575px;
    margin: auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.hero h1 {
    font-size: 56px;
    font-weight: bold;
}

.hero .empowering {
    color: orange;
}

.hero .vision {
    color: #01ACFD;
}

.hero p {
    margin-top: 24px;
    font-size: 20px;
    font-weight: regular;
}

.hero button {
    margin-top: 24px;
    background: black;
}

.hero .hero-image {
    width: 468.61px !important;
}

/* Standard Curriculum starts here */

.curriculum {
    width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    padding: 60px 0;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.curriculum>img {
    margin: auto;
}

.curriculum h2 {
    text-align: center !important;
    font-size: 46px;
    font-weight: bold;
}

.curriculum .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    padding: 80px;
}

.curriculum .card {
    width: 367.8px;
    height: 476.78px;
    background-image: linear-gradient(#DEF5FF, rgba(255, 255, 255, 0));
    border-radius: 18.86px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.curriculum .card2 {
    background-image: linear-gradient(#FFF4DC, rgba(255, 255, 255, 0));
}

.curriculum .card2 {
    background-image: linear-gradient(#FFF4DC, rgba(255, 255, 255, 0));
}

.curriculum .card img {
    width: 130.7px;
    height: 111.94px;
}

.curriculum .card h3 {
    font-size: 24.52px;
    font-weight: bold;
    color: #202020;
}

.curriculum .card p {
    font-size: 15.09px;
    font-weight: medium;
    color: #808080;
    line-height: 28.3px;
}

.curriculum .card a {
    text-decoration: none;
    font-size: 15.09px;
    font-weight: bold;
    color: #64C8FF;
}

.curriculum .card2 a {
    color: #F0AA00;
}

.curriculum .card3 a {
    color: #8700FF;
}


@media (max-width: 480px) {
    .hide {
        display: none !important;
    }

    header .show {
        display: block;
    }

    body {
        width: 100vw !important;
    }

    header {
        width: 358px;
        height: 46px;
        margin: auto;
        padding: 12px 16px !important;
    }

    header .logo {
        width: 46px;
        height: 46px;
        transform: scale(0.8) !important;
    }

    /* hero section starts here */

    .hero {
        width: 357px;
        height: 725px;
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px 0px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        margin-top: 18px;
        font-size: 14px;
    }

    .hero button {
        width: 131px;
        margin-top: 18px;
    }

    .hero .hero-image {
        margin-bottom: -50px !important;
        width: 336px !important;
        height: 413px !important;
    }

    .hero img {
        width: 336px !important;
        height: 413px !important;
    }

    /* Standard Curriculum starts here */

    .curriculum {
        width: 390px;
        padding: 40px 0;
    }

    .curriculum>img {
        margin: auto;
    }

    .curriculum h2 {
        font-size: 26px;
    }

    .curriculum .cards {
        flex-direction: column;
        padding: 20px;
    }

    .curriculum .card {
        width: 357px;
        height: 321px;
        border-radius: 12.27px;
        padding: 36px 28px;
    }

    .curriculum .card img {
        width: 92.6px;
        height: 92.6px;
    }

    .curriculum .card h3 {
        font-size: 16.25px;
    }

    .curriculum .card p {
        font-size: 10.2px;
        line-height: 19.22px;
    }

    .curriculum .card a {
        font-size: 10.22px;
    }

}